# Video Game Dataset
#### Iris Leal
###### May 27th, 2020

In [1]:
import numpy as np
import pandas as pd

In [122]:
df_games = pd.read_csv('./vgsales.csv')
df_games.sort_values('Name', ascending = False).head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
9135,9137,¡Shin Chan Flipa en colores!,DS,2007.0,Platform,505 Games,0.00,0.00,0.14,0.00,0.14
470,471,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0.00,0.41,3.00
15523,15526,uDraw Studio: Instant Artist,X360,2011.0,Misc,THQ,0.01,0.01,0.00,0.00,0.02
7835,7837,uDraw Studio: Instant Artist,Wii,2011.0,Misc,THQ,0.08,0.09,0.00,0.02,0.19
627,628,uDraw Studio,Wii,2010.0,Misc,THQ,1.67,0.58,0.00,0.20,2.46
16414,16417,thinkSMART: Chess for Kids,DS,2011.0,Misc,Mentor Interactive,0.01,0.00,0.00,0.00,0.01
14384,14387,thinkSMART FAMILY!,Wii,2010.0,Misc,Conspiracy Entertainment,0.03,0.00,0.00,0.00,0.03
10796,10798,thinkSMART,DS,2010.0,Misc,Conspiracy Entertainment,0.09,0.00,0.00,0.01,0.10
16417,16420,th!nk Logic Trainer,Wii,2009.0,Puzzle,Conspiracy Entertainment,0.01,0.00,0.00,0.00,0.01
4685,4687,pro evolution soccer 2011,PS2,2010.0,Sports,Konami Digital Entertainment,0.04,0.21,0.05,0.11,0.41

## 1. Which company is the most common video game publisher?

In [37]:
most_common = df_games["Publisher"].mode()[0]
most_common

'Electronic Arts'

## 2. What is the most common plattform?

In [39]:
most_common_platfform = df_games['Platform'].mode()[0]
most_common_platfform

'DS'

## 3. What about the most genre?

In [40]:
most_common_genre = df_games['Genre'].mode()[0]
most_common_genre

'Action'

### 4. What are the top 20 highest grossing games?

In [145]:
top_twenty = df_games[['Name','Global_Sales', 'NA_Sales']].sort_values('Global_Sales', ascending = False).nlargest(20, 'Global_Sales')
top_twenty

                                            Name  Global_Sales  NA_Sales
0                                     Wii Sports         82.74     41.49
1                              Super Mario Bros.         40.24     29.08
2                                 Mario Kart Wii         35.82     15.85
3                              Wii Sports Resort         33.00     15.75
4                       Pokemon Red/Pokemon Blue         31.37     11.27
5                                         Tetris         30.26     23.20
6                          New Super Mario Bros.         30.01     11.38
7                                       Wii Play         29.02     14.03
8                      New Super Mario Bros. Wii         28.62     14.59
9                                      Duck Hunt         28.31     26.93
10                                    Nintendogs         24.76      9.07
11                                 Mario Kart DS         23.42      9.81
12                   Pokemon Gold/Pokemon Silver         23.10      9.00
13                                       Wii Fit         22.72      8.94
14                                  Wii Fit Plus         22.00      9.09
15                            Kinect Adventures!         21.82     14.97
16                            Grand Theft Auto V         21.40      7.01
17                 Grand Theft Auto: San Andreas         20.81      9.43
18                             Super Mario World         20.61     12.78
19  Brain Age: Train Your Brain in Minutes a Day         20.22      4.75

### 5. For North American video games sales, whats is the median?

In [131]:
NA_median = df_games['NA_Sales'].median()
NA_median

0.08

### 5.b. Show 10 games sorrunding the NA median.

In [140]:
games_NA_sorted = df_games.sort_values('NA_Sales', ascending = False)

NA_median_index = int(games_NA_sorted.shape[0]/2)
# NA_subset = df_games[df_games['NA_Sales'] < NA_median][['Name','NA_Sales']].sort_values('NA_Sales', ascending = False).nlargest(20, 'NA_Sales')
NA_subset = games_NA_sorted[NA_median_index-5:NA_median_index+5]
NA_subset

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
10802,10804,Bladestorm: The Hundred Years' War,X360,2007.0,Action,Tecmo Koei,0.08,0.01,0.00,0.01,0.10
9569,9571,Batman: Arkham Knight,PC,2015.0,Action,Warner Bros. Interactive Entertainment,0.08,0.03,0.00,0.01,0.13
8550,8552,Wakeboarding Unleashed Featuring Shaun Murray,PS2,2003.0,Sports,Activision,0.08,0.06,0.00,0.02,0.16
10799,10801,Mind Quiz,PSP,2006.0,Action,Ubisoft,0.08,0.01,0.00,0.01,0.10
9197,9199,The Walking Dead: Season Two,XOne,2014.0,Adventure,Telltale Games,0.08,0.05,0.00,0.01,0.14
9192,9194,Dino Crisis 3,XB,2003.0,Action,Capcom,0.08,0.03,0.03,0.00,0.14
10181,10183,Smash Court Tennis 3,X360,2007.0,Sports,Atari,0.08,0.02,0.00,0.01,0.11
8802,8804,Disney's The Lion King: Simba's Mighty Adventure,PS,2000.0,Action,Activision,0.08,0.06,0.00,0.01,0.15
8724,8726,Driven,PS2,2001.0,Racing,BAM! Entertainment,0.08,0.06,0.00,0.02,0.15
10793,10795,Glory Days 2,DS,2007.0,Strategy,Ghostlight,0.08,0.00,0.00,0.01,0.10

### 6.For the top selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [155]:
top_game = top_twenty.iloc[0]
NA_stddev = df_games['NA_Sales'].std()
NA_mean = df_games['NA_Sales'].mean()
(top_game['NA_Sales']-NA_mean)/NA_stddev

50.47898767479108

### 7. The nintendo WII seems to have outdone itself with games. How does its average number of sales compare with all of other plattforms?

In [197]:
avg_by_platform = df_games[['Platform', 'Global_Sales']].groupby('Platform').mean().sort_values('Global_Sales', ascending = False)
# position of Wii sales
avg_by_platform.index.get_loc('Wii')+1

9

### 8. Come up with 3 more questions that can be answered with the data set

#### 8.1 What were the average sales by platform in 2010 and 2011 combined?

In [213]:
df_games[df_games['Year'].isin([2010,2011])][['Platform', 'Global_Sales']].groupby('Platform').mean().sort_values('Global_Sales', ascending = False)

          Global_Sales
Platform
X360          0.814871
PS3           0.765214
3DS           0.539052
Wii           0.487965
PSV           0.286111
PC            0.259609
DS            0.241712
PSP           0.162080
PS2           0.135556

#### 8.2 What percentage of sales come from NA for each year?

In [218]:
sales_by_year = df_games[['Year', 'NA_Sales', 'Global_Sales']].groupby('Year').sum()
sales_by_year['PCT'] = 100 * sales_by_year['NA_Sales'] / sales_by_year['Global_Sales']
sales_by_year

        NA_Sales  Global_Sales        PCT
Year
1980.0     10.59         11.38  93.057996
1981.0     33.40         35.77  93.374336
1982.0     26.92         28.86  93.277893
1983.0      7.76         16.79  46.217987
1984.0     33.28         50.36  66.084194
1985.0     33.73         53.94  62.532443
1986.0     12.50         37.07  33.719989
1987.0      8.46         21.74  38.914443
1988.0     23.87         47.22  50.550614
1989.0     45.15         73.45  61.470388
1990.0     25.46         49.39  51.548897
1991.0     12.76         32.23  39.590444
1992.0     33.87         76.16  44.472164
1993.0     15.12         45.98  32.883863
1994.0     28.15         79.17  35.556398
1995.0     24.82         88.11  28.169334
1996.0     86.76        199.15  43.565152
1997.0     94.75        200.98  47.143994
1998.0    128.36        256.47  50.048739
1999.0    126.06        251.27  50.169141
2000.0     94.49        201.56  46.879341
2001.0    173.98        331.47  52.487405
2002.0    216.19        395.52  54.659689
2003.0    193.59        357.85  54.098086
2004.0    222.59        419.31  53.084830
2005.0    242.61        459.94  52.748185
2006.0    263.12        521.04  50.499002
2007.0    312.05        611.13  51.061149
2008.0    351.44        678.90  51.766092
2009.0    338.85        667.30  50.779260
2010.0    304.24        600.45  50.668665
2011.0    241.06        515.99  46.717960
2012.0    154.96        363.54  42.625296
2013.0    154.77        368.11  42.044498
2014.0    131.97        337.05  39.154428
2015.0    102.82        264.44  38.882166
2016.0     22.66         70.93  31.946990
2017.0      0.00          0.05   0.000000
2020.0      0.27          0.29  93.103448

#### Top 10 genre that grew the most in 2015

In [247]:
df_games['Previous_Year'] = df_games['Year'] - 1
games_sales = df_games[df_games['Year'].isin([2014,2015])][['Genre', 'Global_Sales', 'Year', 'Previous_Year']]
games_sales_YoY = games_sales.merge(games_sales, left_on = ['Genre', 'Year'], right_on = ['Genre', 'Previous_Year']).groupby('Genre').sum()
games_sales_YoY['Growth_PCT'] = 100*(games_sales_YoY['Global_Sales_x']-games_sales_YoY['Global_Sales_y'])/games_sales_YoY['Global_Sales_y']
games_sales_YoY.sort_values('Growth_PCT')[['Growth_PCT']]
# Name	Platform	Year	Genre	Publisher	NA_Sales	EU_Sales	JP_Sales	Other_Sales	Global_Sale

              Growth_PCT
Genre
Adventure     -45.663761
Shooter       -27.823612
Role-Playing    7.872040
Strategy       15.590659
Sports         26.621438
Simulation     34.665157
Racing         48.293116
Puzzle         60.714286
Fighting       89.532804
Action         92.013049
Misc           92.685013
Platform      105.719008